__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.so
*.dylib
venv/
.venv/
env/
.env
*.nii
*.nii.gz
results/**/*.npy
results/**/*.csv
results/**/*.png
!results/.gitkeep
data/**
!data/.gitkeep
.ipynb_checkpoints/
.DS_Store
*.swp
